<html>
<head>
<style>
ul#menu li {
	display:inline;
}
</style>
<ul id = "menu">
	<li>
			<a href = "logout">Logout</a>&nbsp;
	</li>
	<li>
			<a href = "profile">Profile</a>&nbsp;
	</li>
	<li>
			<a href = "challenges">Challenges</a>&nbsp;
	</li>
	<li>
			<a href = "scoreboard">Scoreboard</a>&nbsp;
	</li>
</ul>
</head>
</html>
