<html>
<head>
<style>
ul#menu li {
	display:inline;
}
</style>
<ul id = "menu">
	<li>
			<a href = "/login">Login</a>&nbsp;
	</li>
	<li>
			<a href = "/register">Register</a>&nbsp;
	</li>
	<li>
			<a href = "/challenges">Challenges</a>&nbsp;
	</li>
	<li>
			<a href = "/scoreboard">Scoreboard</a>&nbsp;
	</li>
</ul>
</head>
</html>
