<html>
<title>
  Challenges page
</title>

<head>
  {{> header2}}
</head>

<script src="../static/javascript/jquery.min.js"></script>
<script src="../static/javascript/ajax.js"></script>

<style>
.output{
	font-family: monospace;
	white-space: pre-line;
	border:1px solid #ccc;
	background: #eee;
	min-height: 50px;
}
</style>
<body>
  {{#chall}}
  Challenge name : {{ChallengeName}}<br>
  Challenge points : {{ChallengePoints}}<br>
  Challenge description : {{ChallengeDescription}}<br>
  Challenge Time limit : {{ChallengeTLE}}<br>
  <br>
  {{/chall}}

    <b>You can either upload source code file or past your code in the browser input</b><br><br>
    Source file : <input type = "file" name = "solution"><br>
    Language : <select name = "lang"  id = "lang">
      <option value="Python">Python</option>
      <option value="C">C</option>
      <option value="C++">C++</option>
      <option value="Java">Java</option>
      <option value="Javascript">Javascript</option>
    </select><br><br>
    <textarea rows = "30" cols = "200" name = "code"  id = "code" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" >Paste your code here ....</textarea> <br><br>
    Submit : <input type = "submit" value = "Submit Solution" onclick = "compile()">
    <p class="output" id = "verdict" ></p>
  </body>

</html>
