<html>
  <title>
    Login Page
  </title>
<head>
  {{> header}}
</head>
<div class="container">
  <h2>Enter your credentials:</h2>
  <div class="alert alert-danger">
    {{reason}}
 </div>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="email" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary" value="LOGIN">Submit</button>
  </form>
</div>
