<html>
<title>
Profile Page
</title>
<header>
  {{> header2}}
</header>
<body>
  Welcome {{username}}, you are rank {{rank}} <br><br>
  <!-- <form action = "update" method = "POST"> -->
  <li>
    <a href = "submissions">Submissions history</a>
  </li>
  <li>
    <a href = "updateProfile">Update infos</a>
  </li>
  <li>
    <a href ="createchal">Create a challenge</a>
  </li>
  <!-- </form> -->
<body>
</html>
