<html>
  <title>
    Registration Page
  </title>
<head>
  {{> header}}
</head>
<script src="../static/javascript/jquery.min.js"></script>
<script src="../static/javascript/ajax.js"></script>

<body>
    <div class="alert alert-info">
      {{msg}}
    </div>
    <form action="/register" method="POST">
      <div class="form-group">
        <input type = "username"  name = "username" id = "username" placeholder = "Username" oninput = "checkform()" >
      </div>
      <div id = "usernameValid"> </div>
      <div class="form-group">
        <input type = "email" name = "email" id = "email" placeholder = "Email"  oninput = "checkform()"><br>
      </div>
      <div id = "emailValid"> </div>
      <div class="form-group">
        <input type = "password" name = "password" id = "password" placeholder = "Password" oninput = "checkform()"><br>
      </div>
      <div id = "passwordValid"> </div>
      <div class="form-group">
        <input type = "password" name = "passwordConfirmation" id = "passwordConfirmation" placeholder = "Retype Password" oninput = "checkform()" ></br>
      </div>
      <div id = "passwordsMatch"> </div>
        <input type = "submit" value = "Register" class=btn btn-primary>
    </form>
</body>
</html>
