<html>
<title>
  Submissions history
</title>
<head>
  {{> header2}}
</head>
<table border = "1" >
  <tr>
    <td>
      Submission Date
    </td>
    <td>
      Challenge
    </td>
    <td>
      Language
    </td>
    <td>
      Verdict
    </td>
  </tr>
  {{#submission}}
  <tr>
    <td>
      {{submission_time}}
    </td>
    <td>
      {{chall_name}}
    </td>
    <td>
      {{lang}}
    </td>
    <td>
      {{verdict}}
    </td>
  </tr>
  {{/submission}}
</table>
</html>
