
<table border = "1" >
  <tr>
    <td>
      Submission Date
    </td>
    <td>
      Challenge
    </td>
    <td>
      Verdict
    </td>
  </tr>
  {{#submission}}
  <tr>
    <td>
      {{submission_time}}
    </td>
    <td>
      {{chall_name}}
    </td>
    <td>
      {{verdict}}
    </td>
  </tr>
  {{/submission}}
</table>
